{% extends 'layout.html' %}
{% load static from staticfiles %}

{% block title %}{{ mineral.name }}{% endblock %}

{% block group_filter %}
    {% for group in groups %}
        <a style="display:block; position: relative; width: 100%" href="{% url 'minerals:group_filter' group=group %}">{{ group }}</a>
    {% endfor %}
{% endblock %}

{% block color_filter %}
    {% for color in colors %}
        <div style="width: 100%; display: block">
            <a {% if active == color %} style="font-weight: bold;" {% endif %} href="{% url 'minerals:color_filter' color=color %}">{{ color }}</a>
        </div>
        {% endfor %}
{% endblock %}

{% block letter_filter %} {% endblock %}
{% block content %}
    <div class="grid-100 mineral__container">
      <h1 class="mineral__name">{{ header.name }}</h1>
      <div class="mineral__image-bg">
        <img class="mineral__image" src="{% static 'minerals/img' %}/{{ header.name }}.jpg" alt="{{ header.name|title }}">
        <p class="mineral__caption">{{ header.image_caption }}</p>
      </div>
      <div class="mineral__table-container">
        <table class="mineral__table">
            {% for field, value in body.items %}
                {% if value %}
                <tr>
                    <td class="mineral__category">{{ field|title }}</td>
                    {% if field == 'formula' %}
                        <td class="mineral__formula">{{ value|safe }}
                    {% else %}
                        <td>{{ value|safe }}</td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
            {% for field, value in mineral.items %}
                {% if value %}
                <tr>
                    <td class="mineral__category">{{ field|title }}</td>
                   <td>{{ value|safe }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
      </div>
    </div>
{% endblock %}

{% block rand_mineral %}
    <div class="minerals__random">
        <a class="minerals__anchor" href="{% url 'minerals:detail' pk=rand_pk %}">Show random mineral</a>
    </div>
{% endblock %}